<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>GXHelpDesk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.gx.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueServlet</display-name>
    <servlet-name>IssueServlet</servlet-name>
    <servlet-class>com.gx.servlet.IssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServlet</servlet-name>
    <url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteIssueServlet</display-name>
    <servlet-name>DeleteIssueServlet</servlet-name>
    <servlet-class>com.gx.servlet.DeleteIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIssueServlet</servlet-name>
    <url-pattern>/DeleteIssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateIssueServlet</display-name>
    <servlet-name>StateIssueServlet</servlet-name>
    <servlet-class>com.gx.servlet.StateIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateIssueServlet</servlet-name>
    <url-pattern>/StateIssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountStateServlet</display-name>
    <servlet-name>CountStateServlet</servlet-name>
    <servlet-class>com.gx.servlet.CountStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountStateServlet</servlet-name>
    <url-pattern>/CountStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>all_Issue_servlet</display-name>
    <servlet-name>all_Issue_servlet</servlet-name>
    <servlet-class>com.gx.servlet.all_Issue_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>all_Issue_servlet</servlet-name>
    <url-pattern>/all_Issue_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.gx.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.gx.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>